In [1]:
#touple

tp = ('ali','umer','ghous')
print(tp)

('ali', 'umer', 'ghous')

In [2]:
#not to be change
tp[1] ='umair'

TypeError: 'tuple' object does not support item assignment

In [3]:
#list is editable and changable
#touple is not editable and not changable

print(tp)

('ali', 'umer', 'ghous')

In [4]:
print(tp[1])

umer

In [12]:
#calculator
val1 = input('Enter first value: ')
operator = input('Enter operator = ')
val2 = input('Enter second value: ')
'''val1 == int(val1)
   val2 == int(val2)
   is trha se bhi int mai convert ke skte han
   '''
if operator == '+' :
    val = int(val1) + int(val2)
    print(val,'answer')
elif operator == '-' :
    val = int(val1) - int(val2)
    print(val,'answer')
elif operator == '*' :
    val = int(val1) * int(val2)
    print(val,'answer')
elif operator == '/' :
    val = int(val1) // int(val2)
    print(val,'answer')
else :
    print('Enter Correct Operator!')

Enter first value: 4
Enter operator = *
Enter second value: 5
20 answer

In [30]:
#loop
#phyton mai hmesha loop list k upper lgta hai
#cleanest_cities se sare values a_clean_city mai shift hra hai...

cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson", "Great Falls", "Honolulu"]
val = input('Enter City Name :')
for a_clean_city in cleanest_cities :
    if val == a_clean_city :
        print('This is a cleanest City')
        break;
    else :
        print('This is not cleanest city')

Enter City Name :Cheyenne
This is a cleanest City

In [33]:
#nested loop
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
        #for full method visibility
        #print(full_names)
print(full_names)

['BlueRay  Zzz', 'BlueRay  Burp', 'BlueRay  Dogbone', 'BlueRay  Droop', 'Upchuck  Zzz', 'Upchuck  Burp', 'Upchuck  Dogbone', 'Upchuck  Droop', 'Lojack  Zzz', 'Lojack  Burp', 'Lojack  Dogbone', 'Lojack  Droop', 'Gizmo  Zzz', 'Gizmo  Burp', 'Gizmo  Dogbone', 'Gizmo  Droop', 'Do-Rag  Zzz', 'Do-Rag  Burp', 'Do-Rag  Dogbone', 'Do-Rag  Droop']

In [35]:
a=10
b=float(a)
print(b)

10.0

In [37]:
a=10
b=str(a)
c=str(15)
d= b + c
print(d)

1015

In [45]:
a = "Sarfraz"
b = "Aslam"
c = "family"
print(a.upper())
print(b.lower())
print(c.title())

SARFRAZ
aslam
Family

In [47]:
#Dictionary
customer = {
    "first name": "David", 
    "last name": "Elliott", 
    "address": "4803 Wellesley St."
} 
print(customer["address"])

4803 Wellesley St.

In [1]:
#ranking
rankings = {5: "Finland", 2: "Norway", 3: "Sweden", 7: "Iceland"}
print(rankings[7])

Iceland

In [51]:
things_to_remember = {0: "the lowest number", "a dozen": 12, "snake eyes": "a pair of ones", 13: "a baker's dozen"}
print(things_to_remember[0])
print(things_to_remember["a dozen"])

the lowest number
12

In [52]:
#overwrite items in Dictionary
customer = {
    "first name": "David", 
    "last name": "Elliott", 
    "address": "4803 Wellesley St."
} 
customer["address"] = 'karachi'
print(customer["address"])

karachi

In [5]:
#Adding items in Dictionary
customer = {
    "first name": "David", 
    "last name": "Elliott", 
    "address": "4803 Wellesley St."
} 
customer["street no"] = ''
print(customer)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'street no': ''}

In [54]:
print(customer)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 'street no': '05'}

In [3]:
del customer["street no"]
print(customer)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}

In [60]:
for each_value in customer.values():
    print("values : " + each_value)
for each_Keys in customer.keys():
    print("Keys : " + each_Keys)

values : David
values : Elliott
values : 4803 Wellesley St.
Keys : first name
Keys : last name
Keys : address

In [61]:
for each_key, each_value in customer.items():
    print("The customer's " + each_key + " is " + each_value)

The customer's first name is David
The customer's last name is Elliott
The customer's address is 4803 Wellesley St.

In [1]:
#find the numeric number from the given list
mylist = ['1','Orange','2','Apple','3','4']

[s for s in mylist if s.isdigit()]

['1', '2', '3', '4']

In [2]:
#Question 2
#find the numeric value from the given list
mylist = [1,'Orange',2,54,'Apple',3,4]

for a in mylist:
    if isinstance(a,int):
        print("numeric value is :",a)
    else:#optional
        print("string value is :",a)

numeric value is : 1
string value is : Orange
numeric value is : 2
numeric value is : 54
string value is : Apple
numeric value is : 3
numeric value is : 4